#Ignore any folder except [application, forms, headers, sources]
/**/
!/application/
!/forms/
!/headers/
!/sources/
!/doc/
/**.*
!/*.def
!/*.pro
!/README.md
!.gitignore

#Ignore any in ./application/ except folders [bin, radexproAPI]
#and .py files and install.bat
/application/**/
/application/**.*
!/application/bin/
!/application/radexproAPI/
!/application/**/*.py
!/application/install.bat
!/application/install_dev.bat
!/application/README.md

#Ignore any in /froms/ except *.ui
/forms/**/
/forms/**.*
!/forms/*.ui

#Ignore any in /haeders/ except *.h
/haeders/**/
/haeders/**.*
!/haeders/*.h

#Ignore any in /sources/ except *.cpp
/sources/**/
/sources/**.*
!/sources/*.cpp

#Ignore any in /doc/ except runapp_gui.png
/doc/**/
/doc/**.*
!/doc/runapp_gui.png